html {
	min-height: 100%;
    width: 100%;
	border: 5px solid #ff3333;
	margin: 0 auto 0 auto;
}

h1, h2, h3, p {
	font-family: 'Alegreya Sans SC', sans-serif;
}

form {
	display: inline-block;
	/*width: 20%;*/
}

label {
	font-size: 20px;
}

select {
	margin-left: 14px;
}

.lang-pick-form {
	padding-top: 5%;
	margin: auto;
	text-align: center;
}

.btn,
.btn:focus {
	color: white;
	background-color: #ff3333;
	transition: all 0.3s ease 0s;
}

.btn:hover {
	color: white;
	background-color: #800000;
}

.btn:focus,
.btn:target {
	outline: none;
}

.btn>p {
	margin: 0;
}

.glyphicon {
    font-size: 50px;
    color: #ff3333;
}

.top-button {
	margin-left: 1%;
	display: none;
	position: fixed;
	z-index: 1000;
	font-size: 20px;
	width: 50px;
	height: 30px;
	text-align: center;
	background-color: white;	
	border: 2px solid #53c653;
}

.top-button>a {
	color: #ff3333;
	padding-left: 2px;
	padding-right: 2px;
	transition: color 1.5s ease;
}

.top-button>a:hover {
	color: #53c653;
}

.home {
	margin-top: 2%;
	margin-left: 2%;
	color: #ff3333;
	z-index: 1001;
}

.home:hover {
	color: #ff3333;
}

.main-row {

}

.main-title,
.main-menu,
#no-results {
	text-align: center;
	padding-top: 5%;
}

#no-results {

}

.simple-form {
	position: relative;
}

.wikis,
.others,
.wikis-wikis {
	background-color: #ff3333;
	border: 1px solid white;
	color: white;
}

.wikis {
	min-height: 240px;
}

.wikis-wikis {
	min-height: 120px;
}

.others {
	min-height: 80px;
}

.clf-list {
	padding-top: 3%;
}

.wiki-list {

}

.other-list {

}

.clf-other-list {
	padding-bottom: 5%;
}

.other-other-list {
	margin-left: 5%;
}

.other-other-codes {
	text-align: center;
}

.wiki-lang-title {
	text-align: center;
}

.info {
	font-size: 20px;
}

.all-about {
	text-align: center;
}