<section ng-controller="MainController">
	<div>CLF languages</div>
	<form novalidate class="simple-form">
		<input name="search" type="text" ng-model="search" />
		<button type="button" ng-Click="findValue(search)">Search</button>
	</form>
	<ul>
	    <li ng-if="result">{{ result }} {{ result.regular }}</li>
	</ul>
	<p> {{ scope.title }} </p>
	<pre> {{ search }} </pre>
	<div ng-show="languages['search']"></div>
	<div ng-show="langDefined()">
		{{ lang }}
	</div>
	<a href='#/clf'>List of Wikipedia Languages</a>
	<a href='#/other'>List of non-Wikipedia Languages</a>
</section>
