<div class="main" ng-controller="LangController">
	<h1>{{ title }}</h1>
	<p> {{ lang }} </p>
		<!-- <div class="procedure-details" ng-show="showDetails">
			<p>Regular </p>
            <h4 ng-repeat="(k, v) in value.language_names.regular">{{ k }}{{ v.wiki_name }}{{ v.lingvoj_names }}</h4>
            <p>Other </p>
            <h4 ng-repeat="(k3, v3) in language_names.other"> {{ k3 }} </h4>
            <p>Wikipedia code {{ value.wiki_code }}</p>
            <p>ISO 639-3 code {{ value.iso_639_3 }}</p>
        </div> -->       
</div>