<div class="main" ng-controller="OtherLangController">
	<h1>{{ title }}</h1>
	<div ng-show="langDefined()">
		<h2>{{ langTitle }}</h2>
		<div ng-repeat="lng in other_lang">
			<div ng-repeat="(k, v) in lng">
				<h3>{{ k }}</h3> 
				<div ng-repeat="cldr_other in v.cldr_name">
					<p>CLDR name(s): {{ cldr_other.name }}</p> 
				</div>
				<div ng-repeat="ling_other in v.lingvoj_names">
					<p>Lingvoj name(s): {{ ling_other.name }}</p> 
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="(key, lang) in other_languages">
		<a href ng-click="showLanguage(lang)"> {{ lang }} </a>
	</div>  
</div>